
@{
    var activityList = (List<Managing_Teacher_Work.Models.Activity>)ViewBag.Activity;
    var activityTypeList = ViewBag.ActivityTypeList;
}
@section ScriptFooter{
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

}
<script>
    jQuery(document).ready(function () {
        selectElement('WorkID', '#WorkID')

        function selectElement(id, valueToSelect) {
            let element = document.getElementById(id);
            element.value = valueToSelect;
        }

    });

    function validate() {
        if ($('#title').val() == "") {
            alert('Tên Hoạt Động Không Được Bỏ Trống');
            $('#title').focus();
            return false;
        }
        if ((CKEDITOR.instances["Description"].getData().length) == 0) {
            alert('Vui Lòng Nhập Mô Tả');
            return false;
        }
        if ($('#StartDate').val() == "") {
            alert("Bạn chưa chọn ngày bắt đầu!");
            $('#StartDate').focus();
            return false;
        }
        if ($('#EndDate').val() == "") {
            alert("Bạn chưa chọn ngày kết thúc!");
            $('#EndDate').focus();
            return false;
        }
        var NgayBatDau = $('#StartDate').val();
        var NgayKetThuc = $('#EndDate').val();

        if (NgayBatDau <= Date.now()) {
            alert('Ngày bắt đầu phải lớn hơn hiện tại');
            $('#EndDate').focus();
            return false;
        }
        if (NgayBatDau > NgayKetThuc) {
            alert('Ngày kết thúc phải lớn hơn ngày bắt đầu!Mời chọn lại!');
            $('#EndDate').focus();
            return false;
        }

        if ($('#Address').val() == "") {
            alert('Vui lòng Nhập Địa Điểm');
            $('#Address').focus();
            return false;
        }

        if ($('#ActivityType').val() == "KhongChon") {
            alert('Vui lòng Chọn Loại Hoạt Động');
            return false;
        }

        return true;
    }
    function cancel() {
        if ((document.referrer.toString().indexOf("/Home/") != -1)) {
            window.location = "/Home/";
        }
    }
    var date = new Date(parseInt('#EndDate'.substring(10)));

</script>

<form action="/Activity/Add" method="post" class="needs-validation">
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <label id="lblresult"></label>
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Quản lý Hoạt Động</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" name="ID" id="ID" value="0">
                    <div class="form-group">
                        <label>Tên Hoạt Động<span style="color:red;">(*)</span></label>
                        <input class="form-control" type="text" id="title" name="title" />
                    </div>
                    <div class="form-group">
                        <label>Mô tả hoạt động<span style="color:red;">(*)</span></label>
                        <textarea name="Description" id="Description"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Ngày bắt đầu<span style="color:red;">(*)</span></label>
                        <input class="form-control" type="date" id="StartDate" name="StartDate" />
                        <input id="NBD" type="text" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label>Ngày kết thúc<span style="color:red;">(*)</span></label>
                        <input class="form-control" type="date" id="EndDate" name="EndDate" data-date-format />
                        <input id="NKT" type="text" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label>Địa điểm<span style="color:red;">(*)</span></label>
                        <input class="form-control" type="text" id="Address" name="Address" />
                    </div>
                    <div class="form-group">
                        <label>Loại Hoạt Động<span style="color:red;">(*)</span> </label>
                        <select name="ActivityType" id="ActivityType" class="form-control">
                            <option value="KhongChon">Chọn...</option>
                            @{ 
                                foreach(var param in activityTypeList)
                                {
                                    <option value="@param.Value">@param.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">&nbsp; Đóng</button>
                    <button type="reset" class="btn btn-warning btn-sm">&nbsp; Làm mới</button>

                    <input type="submit" name="submit" class="btn btn-success btn-sm" id="bt_sua" value="Cập Nhật" onclick="return validate()" />
                    <input type="submit" name="submit" class="btn btn-success btn-sm" id="bt_them" value="Thêm" onclick=" return validate()" />

                </div>

            </div>
        </div>
    </div>
</form>
<script src="~/assets/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/CKfinder-Fill-Extention/ckfinder/ckfinder.js"></script>
<script>

    CKEDITOR.replace("Description");

    CKFinder.setupCKEditor(null, '/ckfinder');
</script>
<script type="text/javascript">
    function BrowseServer() {
        var finder = new CKFinder();
        finder.basePath = "~/Scrips/ckfinder";
        finder.selectActionFunction = SetFileField;
        finder.popup();
    }
    function SetFileField(fileUrl) {
        document.getElementById("Files").value = fileUrl;
    }
</script>

