@using Managing_Teacher_Work.Models;
@{
    ViewBag.Title = "ListTeacher";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    var listTeacher = ViewBag.TeacherList;
    var activity = ViewBag.Activity;
    var session = (Managing_Teacher_Work.Common.UserLogin)Session[Managing_Teacher_Work.Common.CommonConstants.USER_SESSION];

}
<script>
    function cancel() {
            window.location = "/Home/ActivityList";
    }
</script>
<div class="row">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation">
            <a href="/Home/" id="home-tab">Tin Tức - Sự Kiện</a>
        </li>
        <li role="presentation" class="active" id="bt">
            <a href="/Home-ManageTeacher/">Danh Sách Công Đoàn Viên</a>
        </li>

        <li role="presentation">
            <a href="/Home/ActivityList">Hoạt Động Công Đoàn</a>
        </li>
        <li role="presentation">
            <a href="/Home/TotalTransactionView">Thống Kê Chi Phí</a>
        </li>
        @if (session.GroupID == "ADMIN")
        {
            <li role="presentation">
                <a href="/Home/GetTotalTransactionByMonth">Thống Kê Chi Tiết Phí</a>
            </li>
        }

        <li role="presentation">
            <a href="/Extention/">Tiện ích</a>
        </li>
    </ul>
</div>

<div id="myTabContent" class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@activity.Title - Ngày: @activity.StartDate.ToString("dd/MM/yyyy")</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <table id="datatable-buttons" class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr>
                                    <th>Tên Cán Bộ</th>
                                    <th>Giới tính </th>
                                    <th>Số điện thoại</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listTeacher)
                                {
                                    <tr>

                                        <td><a href="/Profile-Teacher/@item.Teacher.ID">@(item.Teacher.Name_Teacher ?? "")</a></td>
                                        @if (item.Teacher.Gender == "Nam")
                                        {
                                            <td>Nam</td>
                                        }
                                        else
                                        {
                                            <td>Nữ</td>
                                        }
                                        <td>@item.Teacher.Phone</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <div class="input" style="text-align: center;">

                        <button class="btn btn-search" style="background-color:orangered; color: white" onclick="cancel();">
                            <span></span><i class="fa fa-undo"></i>&nbsp;Quay lại
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

