<div id="modal-delete" aria-labelledby="modal-danger-header" role="dialog" tabindex="-1" class="modal fade" style="display: none;">
    <div role="document" class="modal-dialog modal-danger">
        <button aria-label="Close" data-dismiss="modal" class="close" type="button">
            <span class="icon-cross" aria-hidden="true"></span>
        </button>
        <div class="modal-content">
            <div id="modal-delete-header" class="modal-header">
                <h4 class="modal-title">XÁC NHẬN</h4>
            </div>
            <div id="modal-delete-body" class="modal-body text-center">
                <h3>Bạn Có Chắc Chắn Muốn Xóa <span id="modal-type">Xóa</span> <span id="modal-delete-name"></span>?</h3>
            </div>
            <div id="modal-delete-footer" class="modal-footer">
                <button id="delete-cancel-btn" data-dismiss="modal" class="btn btn-link close-modal" type="button">Đóng</button>
                <button id="delete-ok-button" class="btn btn-danger ladda-button" data-style="slide-left" type="button">Xóa</button>
            </div>
        </div>
    </div>
</div>


