@using Managing_Teacher_Work.Models;
@{
    var listMenu = (List<Menu>)ViewBag.listMenu;
    var session = (Managing_Teacher_Work.Common.UserLogin)Session[Managing_Teacher_Work.Common.CommonConstants.USER_SESSION];
}
<div class="menu_section">
    <h3>Menu hệ thống</h3>
    <ul class="nav side-menu">
        @if (session.GroupID == "ADMIN")
        {
           
            foreach (var item in listMenu)
            {
                <li>
                    <a href="/@item.MenuUrl/"><i class="@item.MenuICon"></i>&nbsp;@item.Name</a>

                </li>
            }
            
        }
        else
        {
            <li>
                <a href="/Home/"><i class="fa fa-home"></i>&nbsp;Trang chủ</a>
            </li>
            <li>
                <a href="/Fontend/ProfileTeacher/@session.TeacherId"><i class="fa fa-user"></i>&nbsp;Thông Tin Cá Nhân</a>
            </li>
        }


    </ul>
</div>
